<section id="footer" >
    <div class="cpt">

        <h1 class="navbar-brand">CAMPUS</h1>
        
        



        <div class="footersection2">

            <div class="footerCard">
                <a class="social-links-footer" href="/"><P>Home</P></a>
                <a class="social-links-footer" href="/contact"><p>Contact</p></a>
                <a class="social-links-footer" href="/feedback"><p>Feedback</p></a>
            </div>

            <div class="footerCard">
                <!-- <a class="social-links-footer" target="_blank" href="https://rahulbishnoi0014.github.io/Rahul-bishnoi/#mywork"><P>Other Projects</P></a> -->
                <a title="Join our team" class="social-links-footer" href="/joinus"><p>Join us</p></a>
                <a title="Developer and Founder" class="social-links-footer" target="_blank" style="color: rgb(1, 34, 82);" href="https://rahulbishnoi0014.github.io/Rahul-bishnoi/"><p>Rahul Bishnoi</p></a>
            </div>
            
            <div class="footerCard">
                <a title="Rahul Bishnoi" class="social-links-footer" href="https://rahulbishnoi0014.github.io/Rahul-bishnoi/">
                   <center>
                    <img class="footerImg" src="/images/campuslogo.png" alt="RAHUL BISHNOI">

                    <p style="color: rgb(1, 34, 82);">Founder</p>
                   </center>
                </a>
            </div>

            
            
            
        </div>


        <br>
        <center><p>© Copyright CAMPUS</p></center>
       </div> 
        
    

</section>




</body>

</html>