<%- include('partials/Header') %>

    <div class="colour-gradient">
<div class="contactSection">
        <div class="contactSection1">
            <h1>
                Let's make something awesome together.
            </h1>
            <br>
            <h1>
                We'd love to hear from you
            </h1>
            

        </div>
        <div class="contactSection2">
   <h2>Drop as a line ,or give us a heads up. If you're intrested in visiting us .</h2>
   <br>

   <!-- <h2 style="color: #01352a; border: 5px solid black; background-color: rgba(255, 255, 255, 0.384); padding: 1.3rem; width: max-content;">Give us a Shout</h2> -->
   <br>
            <div class="socialLink">
                               <a class="social-links" href="mailto:rahulbhadu14@gmail.com">E-Mail</a>

                <a class="social-links" href="https://in.linkedin.com/in/rahul-bishnoi-55a855218" target="_blank">LinkedIn</a>
            <a class="social-links" href="https://www.facebook.com/rahulbishnoiharyana" target="_blank">Facebook</a>
            <a class="social-links" href="https://www.instagram.com/bishnoi_rahul14/" target="_blank">Instagram</a>
            <a class="social-links" href="https://twitter.com/Rahul_bish9oi" target="_blank">Twitter</a>

            </div>
        </div>

    </div>

      
    </div>
    <%- include('partials/Footer') %>