<%- include('partials/Header') %>
<div class="navbar1 ">
  
  <!-- <nav class="navbar  navbar-expand-lg navbar-dark"> -->
   

  </div>

    <div class="colour-gradient " >
        
           <div class="errorSection centerFlexColumn">
            <br><br>
            <h1>
                OOPS ! something went wrong .
               </h1>
               
               <img src="https://media2.giphy.com/media/FYUnDtud95kMKCovAY/giphy.gif?cid=ecf05e47o0alcxkmq84jadhgfwoevez7fskcw8lcwp9aerkl&rid=giphy.gif&ct=g" alt="error gif">
               <a class="btn ibutton" style="background-color:black;" href="/feedback">Report</a>
              
               <code>
                <h3><%=message%></h3>
                
              </code>
               
            </div>
  
    </div>
    <%- include('partials/Footer') %>