<%- include('partials/Header') %>

    <div class="">
        
           <center><iframe class="feedback-area"
            src="https://docs.google.com/forms/d/e/1FAIpQLSedpkFoINAtNnoiSjOHX8AW65e1Ok9WedikHj2dPQqNF496JA/viewform?embedded=true"
            width="900" height="1300" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">Loading…
        </iframe>
    </center>
  
    </div>
    <%- include('partials/Footer') %>